.container {
    background-color: #8378af;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(162, 164, 186);
    padding: 10px;
}
.title {
    display: inline-block;
    width: 100%;
    font-family: 'Ephesis', cursive;font-family: 'BenchNine', sans-serif;font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8378af;
}